
* { /*sizes boxes to avoid adding issues with padding and border */
  box-sizing: border-box;
}

.backgroundImage {
	z-index: -50;
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

.backgroundImage img {
	position: absolute;
	opacity: 0.5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
	border: 20px solid #7D2A35;
}

body{
	color: #1D2326;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	}

.col-xs-1, .col-xs-2 {
/*Spacing so no content*/
}
/* Smaller columns so no big header fonts etc*/
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7{
	background-color: #A69276;
	border: 2px solid #7D2A35;
	font-size: 18px;
	margin-right: auto;
	margin-left: auto;
	margin: 10px;
	overflow: auto;
}
.title { /*avoids h2 borders*/
  background-color: none;
  border: none;
  font-family: 'Poiret One', sans-serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
#firsttitle { /*styles the Polonius headings on each page*/
	font-family: 'Poiret One', sans-serif;
	font-size: 127px;
	font-size: 15vw;
	overflow: auto;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
	border-radius: 47%;
	width: 95%;
}
#caption { /*styles the caption on the home page*/
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-size:4vw;
	font-style: italic;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	margin-bottom: 42px;
}
p {
	font-family: 'Raleway', sans-serif;
}
table { /*default for table data*/
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
  font-family: font-family: 'Raleway', sans-serif;
}

th { /*makes table headers centered*/
  text-align: center;
}
tr {
	font-family: 'Raleway', sans-serif;
}
footer {
	font-size: 10px;
}
/*#loginArea, #signUpArea {
=======
/* Bigger Columns with header font size*/
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	background-color: #A69276;
	overflow: auto;
	border: 2px solid #7D2A35;
	font-size: 46px;
	margin-right: auto;
	margin-left: auto;
	margin: 10px;
}
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: 0 0 5px 1px #7D2A35;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
.style-1 input[type="text"] {
  padding: 4px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #7D2A35;
}
button {
	margin: 7px;
}
a {
	  box-shadow: 0 0 5px 1px #7D2A35;
}


