.backgroundImage {
	z-index: -50;
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

.backgroundImage img {
	position: absolute;
	opacity: 0.5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

body{
	color: #1D2326;
	text-align: center;
}

.col-xs-1, .col-xs-2 {
/*Spacing so no content*/
}
/* Smaller columns so no big header fonts etc*/
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7 {
	background-color: #A69276;
	border: 8px solid #7D2A35;
	font-size: 18px;
	margin-right: auto;
	margin-left: auto;
	margin: 10px;
}
/* Bigger Columns with header font size*/
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	background-color: #A69276;
	border: 8px solid #7D2A35;
	font-size: 46px;
	margin-right: auto;
	margin-left: auto;
	margin: 10px;
}


